.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.Label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}
.InputElement {
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #ccc;
  outline: none;
  font: inherit;
  display: block;
}

.InputElement:focus {
  background-color: #ccc;
  outline: none;
} 

.Invalid {
  border: 1px solid red;
  background-color: rgb(246, 147, 136)
}